Repository geekjuice/verse: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -l, eslint

2.0.0
  package.json
Due: prettier -l

update readme
  readme.md
Due: prettier -l

add caching
  package-lock.json
  package.json
  src/cli.ts
  src/genius.ts
Due: prettier -l, eslint

2.1.0
  package-lock.json
  package.json
Due: prettier -l

update install section in readme
  readme.md
Due: prettier -l

add keywords in package.json
  package.json
Due: prettier -l

add current playing song flag
  lib/cli.js
  src/cli.ts
  src/playing/darwin.ts
  src/playing/index.ts
  src/playing/types.ts
Due: prettier -l, eslint

add padding to lyrics
  src/prettify.ts
Due: prettier -l, eslint

update deps
  package-lock.json
  package.json
Due: prettier -l

update makefile
  makefile
Due: none

2.2.0
  package-lock.json
  package.json
Due: prettier -l

Path conditions:
  prettier -l: any of: **/*.{js,json,md,ts}
  eslint: any of: **/*.{js,ts}
